body * {
  outline: 1px solid lightgrey;
}
.main-nav {
  border: 5px solid red;
 }
 .main-nav li {
  width: 100px;


 }
 .sub-menu {
  border: dashed green 3px;
 }
.blocks {
  border: 5px solid red;
    }
.blocks span {
}
.blocks p {
  font-weight: bold;
  color: rgb(7, 247, 7);
  }
.container span{
    }
.inline p {
color: blue;
}