body * {
  outline: 1px solid lightgrey;
}

.column-inline {
  background-color: #358765;
  margin-left: auto;
  margin-right: auto;
  height: 49px;
  width: auto;
}

.column-flex .div {
  background-color: #588924;
  margin-left: auto;
  margin-right: auto;
}