.sprite {
    background-image: url('./img/css_sprites.png');
}

.blog {
    width: 40px; height: 40px;
    background-position: -147px -10px;
}

.home {
    width: 54px; height: 47px;
    background-position: -10px -10px;
}

.about {
    width: 23px; height: 44px;
    background-position: -10px -131px;
}

.contact {
    width: 50px; height: 34px;
    background-position: -10px -77px;
}

.work {
    width: 43px; height: 43px;
    background-position: -84px -10px;
}